<div>
    <h3>Добавить тендер</h3>

    <form novalidate ng-submit="submitTender()">

        <input type="text" ng-model="tender.title" id="title" class="form-control" placeholder="Название" style="margin-bottom: 10px;" required="">
        <input type="text" ng-model="tender.description" id="description" class="form-control" placeholder="Описание" style="margin-bottom: 10px;" required="">
        <input type="number" ng-model="tender.price" id="price" class="form-control" placeholder="Стоимость" style="margin-bottom: 10px;" required="">
        <input type="text" ng-model="tender.address" id="address" class="form-control" placeholder="Адрес проведения работ" style="margin-bottom: 10px;" required="">
        <input type="text" ng-model="tender.titlePlatform" id="titlePlatform" class="form-control" placeholder="Строительная площадка" style="margin-bottom: 10px;" required="">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Добавить</button>

    </form>
</div>