<h3>Смета № {{currentEstimate.number}}</h3>

<div>
    <p>Компания: {{currentEstimate.company.companyName}}</p>
    <p>Дата: {{currentEstimate.date.substring(0,19).replace("T", " ")}}</p>
    <edit-element edit=currentEstimate.sum name="Сумма:" type=number></edit-element>
    <edit-element edit=currentEstimate.address name="Адрес:"></edit-element>
    <p>Автор: {{currentEstimate.author.userName}}</p>
    <button class="btn btn-success" ng-click="saveChanges()">Сохранить</button>

    <br>
    <h4>Работы:</h4>

    <table cellpadding="0" cellspacing="0" class="table table-hover">


        <div class="tab">
            <button class="tablinks" ng-click="openCategory(c.categoryId)" ng-repeat="c in categories">{{c.name}}
            </button>
        </div>

        <div class="tabcontent" ng-repeat="c in categories" ng-show="c.categoryId===currentCategory">{{c.name}}</div>

        <thead>
        <tr>
            <td>Работа</td>
            <td>Описание</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="w in currentEstimate.works">
            <td>{{w.workTemplate.name}}</td>
            <td>{{w.workTemplate.description}}</td>
            <td>
                <button class="btn btn-danger edit-button" ng-click="deleteWork(w.rowId)">Удалить</button>
            </td>
        </tr>
        </tbody>

    </table>
    <button class="btn btn-primary" ng-click="addWork()">Добавить</button>

</div>
