<div>
    <h3>Профиль</h3>

    <!--<form novalidate>
        <input class="form-control" type="number" hidden ng-model="user.id">
        <div class="form-group col-md-6">
            <label for="elementUsername">Имя пользователя</label>
            <input class="form-control" type="text" ng-model="users[0].username" id="elementUsername">
        </div>
        <div class="form-group col-md-6">
            <label for="elementEmail">Почта</label>
            <input class="form-control" type="text" ng-model="users[0].email" id="elementEmail">
        </div>
        <div class="form-group col-md-6">
            <label for="elementPhone">Телефон</label>
            <input class="form-control" type="password" ng-model="users[0].phone" id="elementPhone">
        </div>
    </form>-->

    <form novalidate>
        <input class="form-control" type="number" hidden ng-model="user.id">
        <div class="form-group col-md-6">
            <label for="elementUsername">Имя пользователя</label>
            <input class="form-control" type="text" ng-model="user.username" id="elementUsername">
        </div>
        <div class="form-group col-md-6">
            <label for="elementEmail">Почта</label>
            <input class="form-control" type="text" ng-model="user.email" id="elementEmail">
        </div>
        <div class="form-group col-md-6">
            <label for="elementPhone">Телефон</label>
            <input class="form-control" type="password" ng-model="user.phone" id="elementPhone">
        </div>
    </form>
</div>